
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaceLogger</title>
    @System.Web.Optimization.Styles.Render("~/bundles/css")    
</head>
<body>
    <div id="content"></div>
    <div id="map"></div>
    
    @System.Web.Optimization.Scripts.Render("~/bundles/lib")       
    <script src="//maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapsKey"></script>

    <!-- https://volaresystems.com/blog/post/2014/12/08/Getting-started-with-Bower-on-an-ASPNET-MVC-project -->

    <script>
        window['activityId'] = '@ViewBag.ActivityId';
    </script>

    <script src="@Url.Content("~/Scripts/Components/ValueFormatter.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Components/Laps.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Components/Map.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Activtiy.jsx")"></script>
</body>
</html>

