
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaceLogger</title>
    @Styles.Render("~/bundles/css")    
</head>
<body>
    <div id="content"></div>
    <div id="map"></div>
    <div id="charts"></div>
    
    @Scripts.Render("~/bundles/lib")       
    <script src="//maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapsKey"></script>
    
    <script>
        window['activityId'] = '@ViewBag.ActivityId';
    </script>

    <script src="@Url.Content("~/Scripts/Components/ValueFormatter.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Components/Laps.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Components/Map.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Components/Charts.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Activtiy.jsx")"></script>
</body>
</html>

